.lightbgcolour {
  background-color: #edf6ff;
}

.darkbgcolour {
  background-color: #002e63;
}

#prop-image div img {
  object-fit: cover;
}
@media (max-width: 576px) {
  #prop-image div img {
    height: 85vw;
  }
}
@media (min-width: 576px) {
  #prop-image div img {
    height: 409px;
  }
}
@media (min-width: 768px) {
  #prop-image div img {
    height: 523px;
  }
}
@media (min-width: 992px) {
  #prop-image div img {
    height: 701px;
  }
}
@media (min-width: 1200px) {
  #prop-image div img {
    height: 837px;
  }
}

#prop-image {
  box-shadow: 0 0 6px -1px silver;
  background-color: #edf6ff;
}
@media (min-width: 576px) {
  #prop-image {
    border-radius: 4px;
  }
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.prop-primary-image {
  object-fit: cover;
}
@media (max-width: 576px) {
  .prop-primary-image {
    height: 80vw;
  }
}
@media (min-width: 576px) {
  .prop-primary-image {
    height: 236px;
  }
}
@media (min-width: 768px) {
  .prop-primary-image {
    height: 326px;
  }
}
@media (min-width: 992px) {
  .prop-primary-image {
    height: 286px;
  }
}
@media (min-width: 1200px) {
  .prop-primary-image {
    height: 346px;
  }
}

@media (max-width: 370px) {
  #brand {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  #announcement h1 {
    font-size: 38px;
  }
}

#custom-ar {
  padding-bottom: 177.77%;
}